<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" type="text/css" href="style.css">
    <title>Document</title>
</head>
<body>
    <div id="content">
        <div>
            <form th:action="@{/createBattle}" method="post">
                <table>
                    <tr id="tableHead">
                        <th></th>
                        <th>Attacker</th>
                        <th>Defender</th>
                    </tr>
                    <tr>
                        <td class="description"><img src="https://dsus.innogamescdn.com/asset/8edf6f3/graphic/unit/unit_spear.png"><a href="#">Spear fighter</a></td>
                        <td><input required type="text" value="0" name="spearFighterAttacker"></td>
                        <td><input required type="text" value="0" name="spearFighterDefender"></td>
                    </tr>
                    <tr>
                        <td class="description"><img src="https://dsus.innogamescdn.com/asset/8edf6f3/graphic/unit/unit_sword.png"><a href="#">Swordsman</a></td>
                        <td><input required type="text" value="0" name="swordsmanAttacker"></td>
                        <td><input required type="text" value="0" name="swordsmanDefender"></td>
                    </tr>
              </table>
              <input id="button" type="submit" value="Calculate">
            </form>
        </div>
    </div>
</body>
</html>